<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%~ includeFile("components/head.ejs", it) %>
  </head>

  <body class="theme-dark border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
          <a href="."><img src="/images/logo.png" height="128" alt="" /></a>
        </div>
        <form class="card card-md" onsubmit="submit()">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Create new account</h2>
            <div class="mb-3">
              <label class="form-label required">Username</label>
              <input
                onblur="validateUsername()"
                id="username"
                type="text"
                required
                class="form-control"
                placeholder="Enter username"
              />
            </div>
            <div class="mb-3">
              <label class="form-label required">Email address</label>
              <input
                onblur="validator('email')"
                id="email"
                type="email"
                required
                class="form-control"
                placeholder="Enter email"
              />
            </div>
            <div class="mb-3">
              <label class="form-label required">Password</label>
              <div class="input-group input-group-flat">
                <input
                  onblur="validator('password')"
                  id="password"
                  type="password"
                  required
                  class="form-control"
                  placeholder="Password"
                  autocomplete="off"
                />
              </div>
            </div>
            <div id="footer" class="form-footer">
              <button id="button" type="submit" class="btn btn-primary w-100">Create new account</button>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">Already have account? <a href="/login" tabindex="-1">Sign in</a></div>
        <div class="text-center text-muted mt-3">
          This site is protected by hCaptcha and its
          <a href="https://hcaptcha.com/privacy">Privacy Policy</a> and
          <a href="https://hcaptcha.com/terms">Terms of Service</a> apply.
        </div>
      </div>
    </div>
    <script src="/js/auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
  </body>
</html>
