<!DOCTYPE html>
<html lang="en">
  <head>
    <%~ includeFile("components/head.ejs", it) %>
  </head>
  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <!--*******************
          Preloader end
      ********************-->
    <div id="main-wrapper">
      <%~ includeFile("components/navheader.ejs", it) %> <%~ includeFile("components/chatbox.ejs", it) %> <%~
      includeFile("components/header.ejs", it) %> <%~ includeFile("components/sidebar.ejs", it) %>
      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <!-- row -->
        <div class="container-fluid"><%~ it.body %></div>
      </div>
      <!--**********************************
          Content body end
      ***********************************-->
      <%~ includeFile("components/footer.ejs") %>
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
    <script src="/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/dlabnav-init.js"></script>
    <script src="/js/styleSwitcher.js"></script>
  </body>
</html>
