<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template" />
<meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template" />
<meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template" />
<meta property="og:image" content="https://fillow.dexignlab.com/xhtml/social-image.png" />
<meta name="format-detection" content="telephone=no" />

<!-- PAGE TITLE HERE -->
<title>YTVVU | <%~ it.page.title %></title>

<!-- FAVICONS ICON -->
<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-nice-select@1/css/nice-select.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
